Repository feast-dev/feast: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-files, lint-files, template

.pre-commit-config.yaml:

default_stages: [commit]

repos:
  - repo: local
    hooks:
      # File-aware format hook - only runs on changed Python files
      - id: format-files
        name: Format Changed Files
        stages: [commit]
        language: system
        types: [python]
        entry: uv run ruff check --fix
        pass_filenames: true

      # File-aware lint hook - only runs on changed Python files
      - id: lint-files
        name: Lint Changed Files
        stages: [commit]
        language: system
        types: [python]
        entry: uv run ruff check
        pass_filenames: true

      # Conditional template hook - only runs when template files change
      - id: template
        name: Build Templates
        stages: [commit]
        language: system
        files: ^infra/templates/|\.jinja2$
        entry: make build-templates
        pass_filenames: false

fix: Convert PdfBytes values to protos like ImageBytes (#6968)
  sdk/python/feast/type_map.py
  sdk/python/tests/unit/test_type_map.py
Due: format-files, lint-files

feat: Add dualStack server option to the Feast operator (#6887)
  .secrets.baseline
  docs/reference/feature-servers/mcp-server.md
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/bundle/manifests/feast-operator.clusterserviceversion.yaml
  infra/feast-operator/bundle/manifests/feast.dev_featurestores.yaml
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/internal/controller/services/bind_host_test.go
  infra/feast-operator/internal/controller/services/registry_bind_host_test.go
  infra/feast-operator/internal/controller/services/repo_config_test.go
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/services_test.go
  infra/feast-operator/internal/controller/services/services_types.go
Due: none

fix: Warm up the whole DynamoDB connection pool
  docs/how-to-guides/online-server-performance-tuning.md
  docs/reference/online-stores/dynamodb.md
  sdk/python/feast/infra/online_stores/dynamodb.py
  sdk/python/tests/unit/infra/online_store/test_dynamodb_online_store.py
Due: format-files, lint-files

test: Cover the universal torch split in add_cpu_torch_hashes
  sdk/python/tests/unit/infra/scripts/test_cpu_torch_hashes.py
Due: format-files, lint-files

fix: floor pre-epoch datetime Unix timestamp values
  sdk/python/feast/type_map.py
  sdk/python/tests/unit/test_unix_timestamp_pre_epoch.py
Due: format-files, lint-files

docs: Use the supported Snowflake selector in federation examples
  docs/how-to-guides/federated-feature-store.md
Due: none

fix: Remove unsupported vector_len from PostgreSQL tutorial config
  examples/online_store/pgvector_tutorial/feature_store.yaml
Due: none

fix: Accept the store selector in Faiss configuration
  sdk/python/feast/infra/online_stores/faiss_online_store.py
  sdk/python/tests/unit/infra/online_store/test_faiss_versioning.py
Due: format-files, lint-files

fix: Map INT32_LIST, PDF_BYTES and IMAGE_BYTES type names to their ValueType
  sdk/python/feast/type_map.py
  sdk/python/tests/unit/test_type_map.py
Due: format-files, lint-files

docs: Fix ClickHouse offline store type in configuration example
  docs/reference/offline-stores/clickhouse.md
Due: none

docs: State the UTC upper bound for disable_event_timestamp
  sdk/python/feast/cli/cli.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/provider.py
Due: format-files, lint-files

fix: Use UTC end bound and correct docs for disable_event_timestamp
  README.md
  docs/getting-started/components/online-store.md
  docs/getting-started/components/overview.md
  docs/getting-started/concepts/data-ingestion.md
  docs/getting-started/quickstart.md
  docs/reference/feast-cli-commands.md
  docs/reference/feature-servers/python-feature-server.md
  infra/templates/README.md.jinja2
  sdk/python/feast/cli/cli.py
  sdk/python/feast/feature_server.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/provider.py
  sdk/python/tests/unit/test_feature_server.py
Due: format-files, lint-files, template

fix: Use UTC end bound and correct docs for disable_event_timestamp (#6956)
  README.md
  docs/getting-started/components/online-store.md
  docs/getting-started/components/overview.md
  docs/getting-started/concepts/data-ingestion.md
  docs/getting-started/quickstart.md
  docs/reference/feast-cli-commands.md
  docs/reference/feature-servers/python-feature-server.md
  infra/templates/README.md.jinja2
  sdk/python/feast/cli/cli.py
  sdk/python/feast/feature_server.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/provider.py
  sdk/python/tests/unit/test_feature_server.py
Due: format-files, lint-files, template

fix: Throw an error when semicolons are present in filters
  sdk/python/feast/infra/compute_engines/trino/feature_builder.py
  sdk/python/feast/infra/compute_engines/trino/nodes.py
  sdk/python/feast/infra/compute_engines/trino/utils.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
Due: format-files, lint-files

fix: Exclude internal _feast_rn column from Trino dedup output
  sdk/python/feast/infra/compute_engines/trino/nodes.py
  sdk/python/feast/infra/compute_engines/trino/utils.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
Due: format-files, lint-files

fix: Adds a trino write type (append/merge/overwrite)
  sdk/python/feast/infra/compute_engines/trino/compute.py
  sdk/python/feast/infra/compute_engines/trino/nodes.py
  sdk/python/tests/component/trino/test_compute.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
Due: format-files, lint-files

fix: Qualified select statements
  sdk/python/feast/infra/compute_engines/trino/nodes.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
Due: format-files, lint-files

fix: Join entity_df during backfill
  sdk/python/feast/infra/compute_engines/trino/feature_builder.py
  sdk/python/feast/infra/compute_engines/trino/nodes.py
  sdk/python/tests/component/trino/test_compute.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
Due: format-files, lint-files

fix: Implements a trino integration test
  sdk/python/feast/infra/compute_engines/trino/feature_builder.py
  sdk/python/feast/infra/compute_engines/trino/nodes.py
  sdk/python/feast/infra/compute_engines/trino/sql_builder.py
  sdk/python/tests/component/trino/test_compute.py
  sdk/python/tests/integration/compute_engines/test_trino_compute_engine.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
Due: format-files, lint-files

feat: Adds Trino as a compute engine
  docs/getting-started/components/compute-engine.md
  docs/reference/compute-engine/trino.md
  sdk/python/feast/infra/compute_engines/dag/model.py
  sdk/python/feast/infra/compute_engines/trino/__init__.py
  sdk/python/feast/infra/compute_engines/trino/compute.py
  sdk/python/feast/infra/compute_engines/trino/feature_builder.py
  sdk/python/feast/infra/compute_engines/trino/job.py
  sdk/python/feast/infra/compute_engines/trino/nodes.py
  sdk/python/feast/infra/compute_engines/trino/sql_builder.py
  sdk/python/feast/infra/compute_engines/trino/utils.py
  sdk/python/feast/repo_config.py
  sdk/python/feast/transformation/mode.py
  sdk/python/feast/transformation/trino_transformation.py
  sdk/python/tests/component/trino/test_compute.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
  sdk/python/tests/unit/transformation/test_mode.py
Due: format-files, lint-files

fix: More efficient streaming for pyarrow
  sdk/python/feast/infra/compute_engines/trino/utils.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/trino_queries.py
  sdk/python/tests/component/trino/test_compute.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
Due: format-files, lint-files

fix: Validate Trino client configuration in historical retrieval
  sdk/python/feast/infra/compute_engines/trino/compute.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
Due: format-files, lint-files

fix: Throw error when client is not configured
  sdk/python/feast/infra/compute_engines/trino/compute.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
Due: format-files, lint-files

feat: Add Trino compute engine for batch retrieval and materialization (#6898)
  docs/getting-started/components/compute-engine.md
  docs/reference/compute-engine/trino.md
  sdk/python/feast/infra/compute_engines/dag/model.py
  sdk/python/feast/infra/compute_engines/trino/__init__.py
  sdk/python/feast/infra/compute_engines/trino/compute.py
  sdk/python/feast/infra/compute_engines/trino/feature_builder.py
  sdk/python/feast/infra/compute_engines/trino/job.py
  sdk/python/feast/infra/compute_engines/trino/nodes.py
  sdk/python/feast/infra/compute_engines/trino/sql_builder.py
  sdk/python/feast/infra/compute_engines/trino/utils.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/trino_queries.py
  sdk/python/feast/repo_config.py
  sdk/python/feast/transformation/mode.py
  sdk/python/feast/transformation/trino_transformation.py
  sdk/python/tests/component/trino/test_compute.py
  sdk/python/tests/integration/compute_engines/test_trino_compute_engine.py
  sdk/python/tests/unit/infra/compute_engines/trino/test_trino_compute_engine.py
  sdk/python/tests/unit/transformation/test_mode.py
Due: format-files, lint-files

fix: Restrict UI server CORS to trusted origins
  docs/reference/alpha-web-ui.md
  sdk/python/feast/cli/ui.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/ui_server.py
  sdk/python/tests/unit/cli/test_ui_command.py
  sdk/python/tests/unit/test_ui_server.py
Due: format-files, lint-files

fix: Refresh the SQL registry cache after deleting a data source
  sdk/python/feast/infra/registry/sql.py
  sdk/python/tests/unit/infra/registry/test_sql_registry.py
Due: format-files, lint-files

docs: Fix remote HTTP session cleanup examples
  docs/reference/online-stores/remote.md
Due: none

docs: Clarify CLI options and configuration output
  docs/reference/feast-cli-commands.md
Due: none

ci: Use pinned env for unit tests to fix protobuf gencode/runtime skew
  .github/workflows/unit_tests.yml
Due: none

feat: Add Pinecone online store integration Signed-off-by: Siddhesh Khairnar <khairnarsiddhesh4057@gmail.com>
  docs/SUMMARY.md
  docs/reference/alpha-vector-database.md
  docs/reference/online-stores/README.md
  docs/reference/online-stores/pinecone.md
  pixi.lock
  pyproject.toml
  sdk/python/feast/infra/online_stores/pinecone_online_store/__init__.py
  sdk/python/feast/infra/online_stores/pinecone_online_store/pinecone.py
  sdk/python/feast/infra/online_stores/pinecone_online_store/pinecone_repo_configuration.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/unit/infra/online_store/test_pinecone.py
  sdk/python/tests/universal/feature_repos/universal/online_store/pinecone.py
Due: format-files, lint-files

fix: Align Pinecone store with filters API and operator types
  .secrets.baseline
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1alpha1/featurestore_types.go
  infra/feast-operator/bundle/manifests/feast.dev_featurestores.yaml
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/dist/install.yaml
  sdk/python/feast/infra/online_stores/pinecone_online_store/pinecone.py
Due: format-files, lint-files

test: Expand Pinecone online store unit test coverage
  sdk/python/tests/unit/infra/online_store/test_pinecone.py
Due: format-files, lint-files
