Repository feast-dev/feast: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-files, lint-files, template

format-files:
  name: Format Changed Files
  stages:
  - commit
  language: system
  entry: uv run ruff check --fix
  pass_filenames: true

lint-files:
  name: Lint Changed Files
  stages:
  - commit
  language: system
  entry: uv run ruff check
  pass_filenames: true

template:
  name: Build Templates
  stages:
  - commit
  language: system
  entry: make build-templates
  pass_filenames: false

fix: drop global allow_cache=False on online path
  sdk/python/feast/feature_server.py
  sdk/python/feast/utils.py
Due: format-files, lint-files

fix: Fix mypy TorchTensor type alias error (#6712)
  sdk/python/feast/online_response.py
Due: format-files, lint-files

docs: add SparkApplication section to operator batch engine guide Additive only; leave existing spark ConfigMap example unchanged.
  docs/how-to-guides/feast-operator/06-batch-and-jobs.md
Due: none

docs: add SparkApplication compute engine guide Document spark_application batch materialization, operator ConfigMap wiring, and config reference.
  docs/SUMMARY.md
  docs/how-to-guides/feast-operator/06-batch-and-jobs.md
  docs/reference/compute-engine/README.md
  docs/reference/compute-engine/spark_application.md
Due: none

docs: Add SparkApplication compute engine guide (#6720)
  docs/SUMMARY.md
  docs/how-to-guides/feast-operator/06-batch-and-jobs.md
  docs/reference/compute-engine/README.md
  docs/reference/compute-engine/spark_application.md
Due: none

fix: Allow remote-registry first apply for new projects
  sdk/python/feast/registry_server.py
  sdk/python/tests/unit/test_registry_server_commit_refresh.py
Due: format-files, lint-files

Stop a mismatched default retyping a Go column and cover remaining export paths
  go/internal/feast/onlineserving/serving.go
  go/internal/feast/onlineserving/serving_test.go
  sdk/python/feast/feature_view.py
  sdk/python/feast/infra/compute_engines/ray/job.py
  sdk/python/feast/infra/offline_stores/ibis.py
  sdk/python/tests/unit/test_feature_default_values.py
Due: format-files, lint-files

fix: Remote feastRef FeatureStore fails first apply for a new feastProject
  sdk/python/feast/registry_server.py
  sdk/python/tests/unit/test_registry_server_commit_refresh.py
Due: format-files, lint-files

fix(ui): handle Vite envs and keep React 17 compatibility
  ui/config/jest/babelTransform.js
  ui/src/components/ProjectSelector.tsx
  ui/src/react-app-env.d.ts
  ui/src/utils/environment.test.ts
  ui/src/utils/environment.ts
Due: none

fix: Rewritten feature-server Helm subchart from Java to Python
  infra/charts/feast/README.md
  infra/charts/feast/charts/feature-server/README.md
  infra/charts/feast/charts/feature-server/templates/_ingress.yaml
  infra/charts/feast/charts/feature-server/templates/configmap.yaml
  infra/charts/feast/charts/feature-server/templates/deployment.yaml
  infra/charts/feast/charts/feature-server/templates/ingress.yaml
  infra/charts/feast/charts/feature-server/templates/secret.yaml
  infra/charts/feast/charts/feature-server/templates/service.yaml
  infra/charts/feast/charts/feature-server/values.yaml
Due: none

fix: Correct feature-server image name in Helm chart
  infra/charts/feast/charts/feature-server/values.yaml
Due: none

fix: Added existingSecret support and ingress to Helm chart
  infra/charts/feast/README.md
  infra/charts/feast/charts/feature-server/README.md
  infra/charts/feast/charts/feature-server/templates/NOTES.txt
  infra/charts/feast/charts/feature-server/templates/_helpers.tpl
  infra/charts/feast/charts/feature-server/templates/deployment.yaml
  infra/charts/feast/charts/feature-server/templates/ingress.yaml
  infra/charts/feast/charts/feature-server/templates/secret.yaml
  infra/charts/feast/charts/feature-server/templates/service.yaml
  infra/charts/feast/charts/feature-server/values.yaml
Due: none

fix: Replace static RSA FIPS cipher suites with DHE-RSA for IBM Power ppc64le
  sdk/python/feast/offline_server.py
  sdk/python/tests/unit/test_offline_server.py
Due: format-files, lint-files

fix: Nest UI server config under UIServer type
  .secrets.baseline
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1alpha1/featurestore_types.go
  infra/feast-operator/config/samples/v1_featurestore_services_loglevel.yaml
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/internal/controller/featurestore_controller_loglevel_test.go
  infra/feast-operator/internal/controller/featurestore_controller_test.go
  infra/feast-operator/internal/controller/featurestore_controller_test_utils_test.go
  infra/feast-operator/internal/controller/featurestore_controller_tls_test.go
  infra/feast-operator/internal/controller/featurestore_controller_volume_volumemount_test.go
  infra/feast-operator/internal/controller/services/repo_config_test.go
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/services_test.go
  infra/feast-operator/internal/controller/services/tls.go
  infra/feast-operator/internal/controller/services/tls_test.go
  infra/feast-operator/internal/controller/services/util.go
Due: none

fix: Nest UI server config under UIServer type
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/api/v1alpha1/featurestore_types.go
  infra/feast-operator/api/v1alpha1/zz_generated.deepcopy.go
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
Due: none

fix: Handle rebase-and-merge PRs in sync workflows
  .github/workflows/sync_downstream_branch.yml
  .github/workflows/sync_stable_branch.yml
  .github/workflows/sync_upstream.yml
Due: none

fix: compare UDF transformations by udf_string when present
  sdk/python/feast/transformation/pandas_transformation.py
  sdk/python/feast/transformation/python_transformation.py
  sdk/python/tests/unit/transformation/test_pandas_transformation.py
Due: format-files, lint-files

fix: Report single-feature-view spark_application materialization success
  sdk/python/feast/infra/compute_engines/spark_application/compute.py
  sdk/python/tests/unit/infra/compute_engines/test_spark_application.py
Due: format-files, lint-files

fix: Give RemoteRegistry a client-side cache so allow_cache reads skip the RPC
  sdk/python/feast/infra/registry/caching_registry.py
  sdk/python/feast/infra/registry/remote.py
  sdk/python/feast/registry_server.py
  sdk/python/tests/unit/infra/registry/test_registry_server_proto.py
  sdk/python/tests/unit/infra/registry/test_remote_registry.py
Due: format-files, lint-files

fix: Invalidate RemoteRegistry client cache after committed mutations
  sdk/python/feast/infra/registry/remote.py
  sdk/python/tests/unit/infra/registry/test_remote_registry.py
Due: format-files, lint-files

docs: Fix broken GitHub star history chart in README
  README.md
  infra/templates/README.md.jinja2
Due: template

lint
  sdk/python/tests/unit/transformation/test_pandas_transformation.py
Due: format-files, lint-files

fix: Preload system OpenSSL for FIPS and replace static RSA cipher suites
  sdk/python/feast/offline_server.py
  sdk/python/tests/unit/test_offline_server.py
Due: format-files, lint-files

fix: Add noAuth option to FeatureStore CRD for explicit auth opt-out
  .secrets.baseline
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/api/v1alpha1/featurestore_types.go
  infra/feast-operator/api/v1alpha1/zz_generated.deepcopy.go
  infra/feast-operator/bundle/manifests/feast.dev_featurestores.yaml
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/internal/controller/services/repo_config.go
  infra/feast-operator/internal/controller/services/repo_config_test.go
  infra/feast-operator/test/api/featurestore_types_test.go
Due: none

fix: Resolve kserve with pip --dry-run instead of installing it
  sdk/python/tests/unit/infra/test_dependency_conflicts.py
Due: format-files, lint-files

fix: Isolate projection join key maps
  sdk/python/feast/feature_view_projection.py
  sdk/python/tests/unit/test_feature_service.py
Due: format-files, lint-files

fix: Prevent mutation of cached feature resolution results
  sdk/python/feast/utils.py
  sdk/python/tests/unit/test_feature_resolution_cache.py
Due: format-files, lint-files

feat: Expose the OIDC JWKS tunables through the operator
  .secrets.baseline
  docs/how-to-guides/feast-operator/05-security.md
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/internal/controller/services/repo_config.go
  infra/feast-operator/internal/controller/services/repo_config_test.go
  infra/feast-operator/internal/controller/services/services_types.go
Due: none

docs: State that the OIDC authz options require apiVersion v1
  docs/how-to-guides/feast-operator/05-security.md
Due: none

fix: Regenerate the OLM bundle and close review gaps
  docs/how-to-guides/feast-operator/05-security.md
  infra/feast-operator/bundle/manifests/feast-operator.clusterserviceversion.yaml
  infra/feast-operator/bundle/manifests/feast.dev_featurestores.yaml
  infra/feast-operator/internal/controller/services/repo_config_test.go
  infra/feast-operator/test/api/featurestore_types_test.go
Due: none

feat: Expose the OIDC JWKS tunables through the operator (#6690)
  .secrets.baseline
  docs/how-to-guides/feast-operator/05-security.md
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/bundle/manifests/feast-operator.clusterserviceversion.yaml
  infra/feast-operator/bundle/manifests/feast.dev_featurestores.yaml
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/internal/controller/services/repo_config.go
  infra/feast-operator/internal/controller/services/repo_config_test.go
  infra/feast-operator/internal/controller/services/services_types.go
  infra/feast-operator/test/api/featurestore_types_test.go
Due: none

refactor: Rename _validate_token to _check_discovery_endpoints
  sdk/python/feast/permissions/auth/oidc_token_parser.py
Due: format-files, lint-files

docs: Correct what _validate_token claims to do
  sdk/python/feast/permissions/auth/oidc_token_parser.py
Due: format-files, lint-files

Path conditions:
  format-files: any of: \.py$
  lint-files: any of: \.py$
  template: any of: ^infra/templates/|\.jinja2$
