Repository feast-dev/feast: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-files, lint-files, template

.pre-commit-config.yaml:

default_stages: [commit]

repos:
  - repo: local
    hooks:
      # File-aware format hook - only runs on changed Python files
      - id: format-files
        name: Format Changed Files
        stages: [commit]
        language: system
        types: [python]
        entry: uv run ruff check --fix
        pass_filenames: true

      # File-aware lint hook - only runs on changed Python files
      - id: lint-files
        name: Lint Changed Files
        stages: [commit]
        language: system
        types: [python]
        entry: uv run ruff check
        pass_filenames: true

      # Conditional template hook - only runs when template files change
      - id: template
        name: Build Templates
        stages: [commit]
        language: system
        files: ^infra/templates/|\.jinja2$
        entry: make build-templates
        pass_filenames: false

fix: Report Dask monitoring read errors instead of no data
  sdk/python/feast/infra/offline_stores/dask.py
  sdk/python/tests/unit/infra/offline_stores/test_dask_monitoring_max_timestamp.py
Due: format-files, lint-files

fix: Release the GLIDE client and cache its module per store
  sdk/python/feast/infra/online_stores/redis.py
  sdk/python/tests/unit/infra/online_store/test_redis.py
Due: format-files, lint-files

feat: Add optional GLIDE client for Redis online reads
  docs/reference/online-stores/redis.md
  pyproject.toml
  sdk/python/feast/infra/online_stores/redis.py
  sdk/python/tests/integration/online_store/test_redis_glide_client.py
  sdk/python/tests/unit/infra/online_store/test_redis.py
Due: format-files, lint-files

fix: Rebuild the SQLite vector and keyword search index on every query
  sdk/python/feast/infra/online_stores/sqlite.py
  sdk/python/tests/unit/online_store/test_online_retrieval.py
Due: format-files, lint-files

feat: Add optional GLIDE client for Redis online reads (#6870)
  docs/reference/online-stores/redis.md
  pyproject.toml
  sdk/python/feast/infra/online_stores/redis.py
  sdk/python/tests/integration/online_store/test_redis_glide_client.py
  sdk/python/tests/unit/infra/online_store/test_redis.py
Due: format-files, lint-files

fix: Keep tiling, offline and stream engine settings when copying a StreamFeatureView
  sdk/python/feast/stream_feature_view.py
  sdk/python/tests/unit/test_stream_feature_view.py
Due: format-files, lint-files

feat: Add LanceFormat table format with version/tag pinning
  protos/feast/core/DataFormat.proto
  sdk/python/feast/protos/feast/core/DataFormat_pb2.py
  sdk/python/feast/protos/feast/core/DataFormat_pb2.pyi
  sdk/python/feast/table_format.py
  sdk/python/tests/unit/test_table_format.py
Due: format-files, lint-files

fix: Compare batch_source in KafkaSource and KinesisSource equality
  sdk/python/feast/data_source.py
  sdk/python/tests/unit/test_data_sources.py
Due: format-files, lint-files

chore: Update google.golang.org/grpc (#6905)
  go.mod
  go.sum
  infra/feast-operator/go.mod
  infra/feast-operator/go.sum
Due: none

fix: Return feature_view_metadata from the REST feature server (#6927)
  sdk/python/feast/feature_server.py
  sdk/python/feast/feature_server_utils.py
  sdk/python/feast/infra/online_stores/remote.py
  sdk/python/tests/unit/infra/online_store/test_remote_online_store.py
  sdk/python/tests/unit/test_feature_server.py
  sdk/python/tests/unit/test_feature_server_utils.py
Due: format-files, lint-files

fix: Do not log /metrics requests from the pre-fork metrics server thread
  sdk/python/feast/metrics.py
  sdk/python/tests/unit/test_metrics.py
Due: format-files, lint-files

fix: Encode non-finite floats in feature server JSON responses
  sdk/python/feast/feature_server_utils.py
  sdk/python/tests/unit/test_feature_server.py
  sdk/python/tests/unit/test_feature_server_utils.py
Due: format-files, lint-files

fix(operator): Sort git configs in the feast-init clone command
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/services_test.go
Due: none

make sure cryptography package is install at runtime
  pyproject.toml
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.12-requirements.txt
  setup.py
Due: format-files, lint-files

Update py3.11-requirements.txt
  sdk/python/requirements/py3.11-requirements.txt
Due: none

fix: Include vector attributes in Field equality
  sdk/python/feast/field.py
  sdk/python/tests/unit/test_eq_cross_type.py
Due: format-files, lint-files

fix: Infer vector width when vector_length is undeclared
  sdk/python/feast/feature_store.py
  sdk/python/feast/utils.py
  sdk/python/tests/unit/test_vector_length_validation.py
Due: format-files, lint-files

fix: Include vector attributes in Field equality (#6934)
  sdk/python/feast/field.py
  sdk/python/tests/unit/test_eq_cross_type.py
Due: format-files, lint-files

feat: Add consistency_level to the Milvus online store config
  docs/reference/online-stores/milvus.md
  sdk/python/feast/infra/online_stores/milvus_online_store/milvus.py
  sdk/python/tests/integration/online_store/test_milvus_remote.py
  sdk/python/tests/unit/infra/online_store/test_milvus_online_store.py
Due: format-files, lint-files

fix: Read naive datetimes as UTC in UnixTimestamp values
  sdk/python/feast/type_map.py
  sdk/python/tests/unit/test_type_map.py
Due: format-files, lint-files

test: Add optional LocalCloud integration lane
  .github/workflows/localcloud.yml
  .localcloud/config.json
  .localcloud/tests.json
  LOCALCLOUD_INTEGRATION.md
  README.md
  docs/SUMMARY.md
  docs/how-to-guides/localcloud.md
  scripts/localcloud-test.py
  sdk/python/feast/infra/offline_stores/bigquery.py
  sdk/python/feast/infra/offline_stores/bigquery_source.py
  sdk/python/tests/localcloud/test_localcloud_gcp.py
  sdk/python/tests/unit/test_bigquery_local_endpoint.py
Due: format-files, lint-files

Keep the LocalCloud test integration self-contained
  .localcloud/config.json
  .localcloud/tests.json
  LOCALCLOUD_INTEGRATION.md
  README.md
  docs/how-to-guides/localcloud.md
  scripts/localcloud-test.py
Due: format-files, lint-files

fix: Remove pip install command from Redis GLIDE docstring
  AGENTS.md
  sdk/python/feast/infra/online_stores/redis.py
  skills/feast-dev/SKILL.md
Due: format-files, lint-files

fix: Preserve Chronon retrieval inputs and run complete CI coverage
  .github/workflows/pr_chronon_integration_tests.yml
  sdk/python/feast/infra/offline_stores/contrib/chronon_offline_store/chronon.py
  sdk/python/tests/unit/infra/offline_stores/contrib/chronon_offline_store/test_chronon_retrieval.py
Due: format-files, lint-files

fix: Make Chronon demo setup reproducible and surface startup failures
  .github/workflows/pr_chronon_integration_tests.yml
  README.md
  docs/reference/offline-stores/README.md
  docs/reference/offline-stores/overview.md
  docs/reference/online-stores/README.md
  examples/chronon/README.md
  infra/scripts/chronon/start-local-chronon-service.sh
  sdk/python/tests/unit/infra/scripts/test_chronon_local_service_script.py
Due: format-files, lint-files

fix: Stabilize Chronon CI setup and generated documentation
  .github/workflows/pr_chronon_integration_tests.yml
  docs/roadmap.md
Due: none

feat: Add Chronon online and offline store integrations (#6188)
  .github/workflows/pr_chronon_integration_tests.yml
  Makefile
  README.md
  docs/SUMMARY.md
  docs/reference/data-sources/chronon.md
  docs/reference/offline-stores/README.md
  docs/reference/offline-stores/chronon.md
  docs/reference/offline-stores/overview.md
  docs/reference/online-stores/README.md
  docs/reference/online-stores/chronon.md
  docs/roadmap.md
  examples/README.md
  examples/chronon/README.md
  examples/chronon/run_demo.py
  infra/scripts/add_cpu_torch_hashes.py
  infra/scripts/chronon/chronon_service_launcher.py
  infra/scripts/chronon/start-local-chronon-service.sh
  infra/scripts/chronon/stop-local-chronon-service.sh
  sdk/python/feast/__init__.py
  sdk/python/feast/infra/chronon_provider.py
  sdk/python/feast/infra/offline_stores/contrib/chronon_offline_store/__init__.py
  sdk/python/feast/infra/offline_stores/contrib/chronon_offline_store/chronon.py
  sdk/python/feast/infra/offline_stores/contrib/chronon_offline_store/chronon_source.py
  sdk/python/feast/infra/online_stores/chronon_online_store/__init__.py
  sdk/python/feast/infra/online_stores/chronon_online_store/chronon.py
  sdk/python/feast/infra/provider.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/integration/offline_store/test_chronon_offline_store.py
  sdk/python/tests/integration/online_store/test_chronon_online_store.py
  sdk/python/tests/integration/online_store/test_chronon_online_store_real_service.py
  sdk/python/tests/unit/examples/test_chronon_demo.py
  sdk/python/tests/unit/infra/offline_stores/contrib/chronon_offline_store/test_chronon_retrieval.py
  sdk/python/tests/unit/infra/offline_stores/contrib/chronon_offline_store/test_chronon_source.py
  sdk/python/tests/unit/infra/online_stores/chronon_online_store/test_chronon_online_store.py
  sdk/python/tests/unit/infra/scripts/test_chronon_local_service_script.py
  sdk/python/tests/unit/infra/scripts/test_cpu_torch_hashes.py
Due: format-files, lint-files

fix: Preserve LocalCloud documentation during template generation
  README.md
  infra/templates/README.md.jinja2
Due: template

fix(operator): Make default registry REST to IPv4 and dualStack opt-in
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/internal/controller/services/registry_bind_host_test.go
  infra/feast-operator/internal/controller/services/services.go
Due: none

fix: Decode fixed_size_list as the matching Feast list value type
  sdk/python/feast/type_map.py
  sdk/python/tests/unit/test_type_map.py
Due: format-files, lint-files

fix: Allow Chronon persistence in the Feast operator
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1alpha1/featurestore_types.go
  infra/feast-operator/bundle/manifests/feast.dev_featurestores.yaml
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/dist/install.yaml
Due: none

chore: Refresh operator secret baseline line numbers
  .secrets.baseline
Due: none
