Repository feast-dev/feast: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, build-templates, check-init-py, forbid-pytest-asyncio

.pre-commit-config.yaml:

exclude: 'build/|feast/embedded_go/lib/|\.pb2\.py$|protos/'
minimum_pre_commit_version: 3.3.0
default_language_version:
    python: python3.11

default_stages: [commit]  # RUN ON COMMIT, NOT PUSH!

repos:
  # Standard file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
        args: ['--assume-in-merge']
      - id: trailing-whitespace
        exclude: '\.py$'  # Ruff handles Python files
      - id: check-added-large-files
        args: ['--maxkb=5000']  # Allow larger files for ML datasets
      - id: end-of-file-fixer
        exclude: '^(.*\.svg|.*\.md|.*\.pb2\.py)$'
      - id: no-commit-to-branch
        args: ['--branch=master', '--branch=main']
      - id: check-yaml
        args: ["--unsafe"]
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-toml


  # Ruff - consolidate linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
        files: ^sdk/python/
      - id: ruff-format
        files: ^sdk/python/

  # Local hooks
  - repo: local
    hooks:
      # MyPy type checking with proper working directory
      - id: mypy
        name: mypy
        entry: bash -c "cd sdk/python && python -m mypy feast"
        language: system
        files: ^sdk/python/(feast|tests)/.*\.py$
        pass_filenames: false
      # Template building only when templates change
      - id: build-templates
        name: Build Templates
        entry: python infra/scripts/compile-templates.py
        language: system
        files: \.(jinja2|md)$
        pass_filenames: false
        require_serial: true

      # Check for missing __init__.py files in SDK
      - id: check-init-py
        name: Check for missing __init__.py files
        entry: ./scripts/check-init-py.sh
        language: system
        pass_filenames: false
        require_serial: true
        files: ^sdk/python/feast/.*$

      # Prevent direct pytest.mark.asyncio usage
      - id: forbid-pytest-asyncio
        name: Block @pytest.mark.asyncio (use asyncio_mode=auto)
        entry: bash
        language: system
        types: [python]
        pass_filenames: true
        args:
          - -c
          - |
            grep -EnH '^[^#]*@pytest\.mark\.asyncio' "$@" && {
              echo "‚ùå Do not use @pytest.mark.asyncio."
              echo "   pytest is already configured with asyncio_mode=auto."
              exit 1;
            } || true

      # Full MyPy check (manual stage for thorough checking)
      - id: mypy-full
        name: mypy (full type checking)
        entry: bash -c "cd sdk/python && python -m mypy feast tests"
        language: system
        pass_filenames: false
        stages: [manual]

ci:
    autofix_commit_msg: üé® [pre-commit.ci] Auto format
    autoupdate_commit_msg: ‚¨Ü [pre-commit.ci] pre-commit autoupdate
    autofix_prs: true
    autoupdate_schedule: weekly
    skip: [mypy-full]  # Skip manual stage hooks in CI

chore: Untrack perf-monitor.py development utility
  scripts/perf-monitor.py
Due: forbid-pytest-asyncio

fix: Address review feedback for pytest.ini and Makefile
  Makefile
  sdk/python/pytest.ini
Due: none

feat: batch_engine config injection in feature_store.yaml through operator
  go/internal/feast/onlineserving/serving.go
  go/internal/feast/server/grpc_server.go
  go/internal/feast/server/server_commons.go
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/bundle/manifests/feast-operator.clusterserviceversion.yaml
  infra/feast-operator/bundle/manifests/feast.dev_featurestores.yaml
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/config/manager/kustomization.yaml
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/internal/controller/services/repo_config.go
  infra/feast-operator/internal/controller/services/services_types.go
  infra/feast-operator/internal/controller/services/util.go
Due: build-templates

chore: addressed devin ai comments
  infra/feast-operator/internal/controller/featurestore_controller_pvc_test.go
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/services_test.go
Due: none

chore: fixed test cases
  infra/feast-operator/internal/controller/services/services_test.go
Due: none

chore: fixed test cases
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/services_test.go
Due: none

feat: Use orjson for faster JSON serialization in feature server
  pyproject.toml
  sdk/python/feast/feature_server.py
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-minimal-requirements.txt
  sdk/python/requirements/py3.10-minimal-sdist-requirements-build.txt
  sdk/python/requirements/py3.10-minimal-sdist-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.11-ci-requirements.txt
  sdk/python/requirements/py3.11-minimal-requirements.txt
  sdk/python/requirements/py3.11-minimal-sdist-requirements-build.txt
  sdk/python/requirements/py3.11-minimal-sdist-requirements.txt
  sdk/python/requirements/py3.11-requirements.txt
  sdk/python/requirements/py3.12-ci-requirements.txt
  sdk/python/requirements/py3.12-minimal-requirements.txt
  sdk/python/requirements/py3.12-minimal-sdist-requirements-build.txt
  sdk/python/requirements/py3.12-minimal-sdist-requirements.txt
  sdk/python/requirements/py3.12-requirements.txt
  setup.py
Due: mypy, check-init-py, forbid-pytest-asyncio

Add registry metadata summary endpoint (#5921)
  sdk/python/feast/api/registry/rest/metrics.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Configure environment paths for Ray worker compatibility
  .github/workflows/unit_tests.yml
  feast_profile_demo/.gitignore
  feast_profile_demo/README.md
  feast_profile_demo/__init__.py
  feast_profile_demo/feature_repo/README_Profiling.md
  feast_profile_demo/feature_repo/__init__.py
  feast_profile_demo/feature_repo/data/driver_stats.parquet
  feast_profile_demo/feature_repo/data/online_store.db
  feast_profile_demo/feature_repo/feature_definitions.py
  feast_profile_demo/feature_repo/feature_store.yaml
  feast_profile_demo/feature_repo/measure_performance_delta.py
  feast_profile_demo/feature_repo/profile_components.py
  feast_profile_demo/feature_repo/profile_feature_server.py
  feast_profile_demo/feature_repo/profile_feature_store.py
  feast_profile_demo/feature_repo/profiling_analysis.md
  feast_profile_demo/feature_repo/profiling_results/components/profiling_summary_20260129_142132.csv
  feast_profile_demo/feature_repo/profiling_results/feature_store/profiling_summary_20260129_142410.csv
  feast_profile_demo/feature_repo/profiling_results/validation/profiling_summary_20260129_143258.csv
  feast_profile_demo/feature_repo/profiling_utils.py
  feast_profile_demo/feature_repo/test_performance_baseline.py
  feast_profile_demo/feature_repo/test_workflow.py
  feast_profile_demo/feature_repo/validate_optimizations.py
  scripts/perf-monitor.py
Due: build-templates, forbid-pytest-asyncio

fix: Install make and fix Python paths in CI
  .github/workflows/unit_tests.yml
Due: none

fix: correct metrics summary implementations
  sdk/python/feast/api/registry/rest/metrics.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: correct metrics summary implementation
  sdk/python/feast/api/registry/rest/metrics.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Use RUNNER_OS environment variable correctly
  .github/workflows/unit_tests.yml
Due: none

fix: Ensure PATH is properly exported in test step
  .github/workflows/unit_tests.yml
Due: none

feat: Add DynamoDB in-place list update support for array-based features (#5916)
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/online_stores/dynamodb.py
  sdk/python/tests/unit/infra/online_store/test_dynamodb_online_store.py
  sdk/python/tests/unit/local_feast_tests/test_local_feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Use dynamic site-packages detection for cross-platform compatibility
  .github/workflows/unit_tests.yml
Due: none

fix: Make timestamp field handling compatible with Athena V3
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/athena.py
Due: mypy, check-init-py, forbid-pytest-asyncio

feat: extend resources_counts with project count and timestamp
  sdk/python/feast/api/registry/rest/metrics.py
Due: mypy, check-init-py, forbid-pytest-asyncio

Fix: Small error fixed
  sdk/python/feast/api/registry/rest/metrics.py
Due: mypy, check-init-py, forbid-pytest-asyncio

Update conftest.py
  sdk/python/tests/conftest.py
Due: mypy, forbid-pytest-asyncio

fix: remove link artifacts in pytest docstring
  sdk/python/tests/conftest.py
Due: mypy, forbid-pytest-asyncio

fix: make pytest config compatible with newer pytest
  sdk/python/pytest.ini
  sdk/python/tests/conftest.py
Due: mypy, forbid-pytest-asyncio

debug: Add Python 3.11 macOS debugging and compatibility workarounds
  .github/workflows/unit_tests.yml
Due: none

fix: Linter problem
  sdk/python/feast/api/registry/rest/metrics.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Apply macOS Ray compatibility workarounds to all Python versions
  .github/workflows/unit_tests.yml
Due: none

fix: Make PYTHONPATH additive to support both Ray workers and CLI tests
  .github/workflows/unit_tests.yml
Due: none

Updated repo_config test with added parameter for getServiceRepoConfig func
  infra/feast-operator/internal/controller/services/repo_config_test.go
Due: none

fix: Skip ray_transformation doctests to avoid macOS Ray worker timeouts
  sdk/python/tests/doctest/test_all.py
Due: mypy, forbid-pytest-asyncio

chore: Remove feast_profile_demo from git tracking
  .gitignore
  feast_profile_demo/.gitignore
  feast_profile_demo/README.md
  feast_profile_demo/__init__.py
  feast_profile_demo/feature_repo/README_Profiling.md
  feast_profile_demo/feature_repo/__init__.py
  feast_profile_demo/feature_repo/data/driver_stats.parquet
  feast_profile_demo/feature_repo/data/online_store.db
  feast_profile_demo/feature_repo/feature_definitions.py
  feast_profile_demo/feature_repo/feature_store.yaml
  feast_profile_demo/feature_repo/measure_performance_delta.py
  feast_profile_demo/feature_repo/profile_components.py
  feast_profile_demo/feature_repo/profile_feature_server.py
  feast_profile_demo/feature_repo/profile_feature_store.py
  feast_profile_demo/feature_repo/profiling_analysis.md
  feast_profile_demo/feature_repo/profiling_results/components/profiling_summary_20260129_142132.csv
  feast_profile_demo/feature_repo/profiling_results/feature_store/profiling_summary_20260129_142410.csv
  feast_profile_demo/feature_repo/profiling_results/validation/profiling_summary_20260129_143258.csv
  feast_profile_demo/feature_repo/profiling_utils.py
  feast_profile_demo/feature_repo/test_performance_baseline.py
  feast_profile_demo/feature_repo/test_workflow.py
  feast_profile_demo/feature_repo/validate_optimizations.py
Due: build-templates, forbid-pytest-asyncio

chore: Updated snowflake-connector-python
  pyproject.toml
  sdk/python/feast/infra/offline_stores/dask.py
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/feast/infra/online_stores/postgres_online_store/postgres.py
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-minimal-requirements.txt
  sdk/python/requirements/py3.10-minimal-sdist-requirements-build.txt
  sdk/python/requirements/py3.10-minimal-sdist-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.11-ci-requirements.txt
  sdk/python/requirements/py3.11-minimal-requirements.txt
  sdk/python/requirements/py3.11-minimal-sdist-requirements-build.txt
  sdk/python/requirements/py3.11-minimal-sdist-requirements.txt
  sdk/python/requirements/py3.11-requirements.txt
  sdk/python/requirements/py3.12-ci-requirements.txt
  sdk/python/requirements/py3.12-minimal-requirements.txt
  sdk/python/requirements/py3.12-minimal-sdist-requirements-build.txt
  sdk/python/requirements/py3.12-minimal-sdist-requirements.txt
  sdk/python/requirements/py3.12-requirements.txt
  setup.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Skip test_e2e_local on macOS CI due to Ray/uv subprocess issues
  sdk/python/tests/unit/local_feast_tests/test_e2e_local.py
Due: mypy, forbid-pytest-asyncio

feat(cli): Add --scenario option to feast init for RAG template
  sdk/python/feast/cli/cli.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Skip CLI tests on macOS CI due to Ray/uv subprocess issues
  sdk/python/tests/unit/cli/test_cli.py
Due: mypy, forbid-pytest-asyncio

chore: Updated snowflake-connector-python (#5928)
  pyproject.toml
  sdk/python/feast/infra/offline_stores/dask.py
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/feast/infra/online_stores/postgres_online_store/postgres.py
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-minimal-requirements.txt
  sdk/python/requirements/py3.10-minimal-sdist-requirements-build.txt
  sdk/python/requirements/py3.10-minimal-sdist-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.11-ci-requirements.txt
  sdk/python/requirements/py3.11-minimal-requirements.txt
  sdk/python/requirements/py3.11-minimal-sdist-requirements-build.txt
  sdk/python/requirements/py3.11-minimal-sdist-requirements.txt
  sdk/python/requirements/py3.11-requirements.txt
  sdk/python/requirements/py3.12-ci-requirements.txt
  sdk/python/requirements/py3.12-minimal-requirements.txt
  sdk/python/requirements/py3.12-minimal-sdist-requirements-build.txt
  sdk/python/requirements/py3.12-minimal-sdist-requirements.txt
  sdk/python/requirements/py3.12-requirements.txt
  setup.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: address PR review nits and typing
  sdk/python/feast/feature_logging.py
  sdk/python/feast/feature_server.py
  sdk/python/feast/feature_view_utils.py
Due: mypy, check-init-py, forbid-pytest-asyncio

refactor: centralize feature view object lookup
  sdk/python/feast/feature_logging.py
  sdk/python/feast/feature_server.py
  sdk/python/feast/feature_view_utils.py
Due: mypy, check-init-py, forbid-pytest-asyncio

refactor: Centralize feature view object lookup (#5898)
  sdk/python/feast/feature_logging.py
  sdk/python/feast/feature_server.py
  sdk/python/feast/feature_view_utils.py
Due: mypy, check-init-py, forbid-pytest-asyncio
