Repository feast-dev/feast: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, build-templates, check-init-py, forbid-pytest-asyncio

.pre-commit-config.yaml:

exclude: 'build/|feast/embedded_go/lib/|\.pb2\.py$|protos/'
minimum_pre_commit_version: 3.3.0
default_language_version:
    python: python3.11

default_stages: [commit]  # RUN ON COMMIT, NOT PUSH!

repos:
  # Standard file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
        args: ['--assume-in-merge']
      - id: trailing-whitespace
        exclude: '\.py$'  # Ruff handles Python files
      - id: check-added-large-files
        args: ['--maxkb=5000']  # Allow larger files for ML datasets
      - id: end-of-file-fixer
        exclude: '^(.*\.svg|.*\.md|.*\.pb2\.py)$'
      - id: no-commit-to-branch
        args: ['--branch=master', '--branch=main']
      - id: check-yaml
        args: ["--unsafe"]
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-toml


  # Ruff - consolidate linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
        files: ^sdk/python/
      - id: ruff-format
        files: ^sdk/python/

  # Local hooks
  - repo: local
    hooks:
      # MyPy type checking with proper working directory
      - id: mypy
        name: mypy
        entry: bash -c "cd sdk/python && python -m mypy feast"
        language: system
        files: ^sdk/python/(feast|tests)/.*\.py$
        pass_filenames: false
      # Template building only when templates change
      - id: build-templates
        name: Build Templates
        entry: python infra/scripts/compile-templates.py
        language: system
        files: \.(jinja2|md)$
        pass_filenames: false
        require_serial: true

      # Check for missing __init__.py files in SDK
      - id: check-init-py
        name: Check for missing __init__.py files
        entry: ./scripts/check-init-py.sh
        language: system
        pass_filenames: false
        require_serial: true
        files: ^sdk/python/feast/.*$

      # Prevent direct pytest.mark.asyncio usage
      - id: forbid-pytest-asyncio
        name: Block @pytest.mark.asyncio (use asyncio_mode=auto)
        entry: bash
        language: system
        types: [python]
        pass_filenames: true
        args:
          - -c
          - |
            grep -EnH '^[^#]*@pytest\.mark\.asyncio' "$@" && {
              echo "‚ùå Do not use @pytest.mark.asyncio."
              echo "   pytest is already configured with asyncio_mode=auto."
              exit 1;
            } || true

      # Full MyPy check (manual stage for thorough checking)
      - id: mypy-full
        name: mypy (full type checking)
        entry: bash -c "cd sdk/python && python -m mypy feast tests"
        language: system
        pass_filenames: false
        stages: [manual]

ci:
    autofix_commit_msg: üé® [pre-commit.ci] Auto format
    autoupdate_commit_msg: ‚¨Ü [pre-commit.ci] pre-commit autoupdate
    autofix_prs: true
    autoupdate_schedule: weekly
    skip: [mypy-full]  # Skip manual stage hooks in CI

chore: Remove perf-monitor.py from git tracking
  .gitignore
  scripts/perf-monitor.py
Due: forbid-pytest-asyncio

fix: import default entity_df event timestamp const
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: avoid click in FeatureStore materialization
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: use logging instead of print during materialization
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

Fix: remove ANSI color codes from materialization logs
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

Update feature_store.py
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: default CLI log level to INFO
  sdk/python/feast/cli/cli.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: format feature_store and update materialize docstrings
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

feat(go): Add MySQL registry store support for Go feature server
  go.mod
  go.sum
  go/internal/feast/registry/mysql_registry_store.go
  go/internal/feast/registry/mysql_registry_store_test.go
  go/internal/feast/registry/registry.go
  go/internal/feast/registry/repoconfig.go
  go/internal/feast/registry/repoconfig_test.go
Due: none

docs(go): Clarify MySQL registry store package documentation
  go/internal/feast/registry/mysql_registry_store.go
Due: none

feat(go): Add MySQL registry store support for Go feature server (#5933)
  go.mod
  go.sum
  go/internal/feast/registry/mysql_registry_store.go
  go/internal/feast/registry/mysql_registry_store_test.go
  go/internal/feast/registry/registry.go
  go/internal/feast/registry/repoconfig.go
  go/internal/feast/registry/repoconfig_test.go
Due: none

feat(go): implement metrics and tracing for http and grpc servers
  go.mod
  go.sum
  go/internal/feast/metrics/metrics.go
  go/internal/feast/server/http_server.go
  go/main.go
Due: none

fix: Use uv pip sync with virtualenv instead of uv sync
  Makefile
Due: none

updated
  .github/workflows/registry-rest-api-tests.yml
Due: none

Fix incorrect CLI flags and outdated references in dbt blog post
  infra/website/docs/blog/feast-dbt-integration.md
Due: build-templates

Add comprehensive integration tests for dbt import feature
  .github/workflows/dbt-integration-tests.yml
  Makefile
  sdk/python/feast/dbt/codegen.py
  sdk/python/feast/dbt/mapper.py
  sdk/python/tests/integration/dbt/__init__.py
  sdk/python/tests/integration/dbt/conftest.py
  sdk/python/tests/integration/dbt/pytest.ini
  sdk/python/tests/integration/dbt/test_dbt_integration.py
  sdk/python/tests/integration/dbt/test_dbt_project/.gitignore
  sdk/python/tests/integration/dbt/test_dbt_project/dbt_project.yml
  sdk/python/tests/integration/dbt/test_dbt_project/models/customer_features.sql
  sdk/python/tests/integration/dbt/test_dbt_project/models/driver_features.sql
  sdk/python/tests/integration/dbt/test_dbt_project/models/product_features.sql
  sdk/python/tests/integration/dbt/test_dbt_project/models/schema.yml
  sdk/python/tests/integration/dbt/test_dbt_project/profiles.yml
  sdk/python/tests/integration/dbt/test_dbt_project/seeds/customer_stats.csv
  sdk/python/tests/integration/dbt/test_dbt_project/seeds/driver_hourly_stats.csv
  sdk/python/tests/integration/dbt/test_dbt_project/seeds/product_stats.csv
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: correct typo 'occured' to 'occurred' in variable name
  sdk/python/tests/unit/infra/test_dependency_conflicts.py
Due: mypy, forbid-pytest-asyncio

feat: Add UUID and TIME_UUID as feature types (#5885)
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/online_stores/online_store.py
  sdk/python/feast/on_demand_feature_view.py
  sdk/python/feast/online_response.py
  sdk/python/feast/type_map.py
  sdk/python/feast/types.py
  sdk/python/feast/utils.py
  sdk/python/feast/value_type.py
Due: mypy, check-init-py, forbid-pytest-asyncio

style: Fix ruff lint and formatting issues
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/online_stores/online_store.py
  sdk/python/feast/type_map.py
  sdk/python/feast/utils.py
Due: mypy, check-init-py, forbid-pytest-asyncio

test: Add unit tests for UUID type support
  sdk/python/tests/unit/test_type_map.py
  sdk/python/tests/unit/test_types.py
Due: mypy, forbid-pytest-asyncio

feat: Add dedicated UUID/TIME_UUID proto fields to Value.proto
  protos/feast/types/Value.proto
  sdk/python/feast/protos/feast/core/DatastoreTable_pb2.pyi
  sdk/python/feast/protos/feast/core/Entity_pb2.pyi
  sdk/python/feast/protos/feast/core/FeatureViewProjection_pb2.pyi
  sdk/python/feast/protos/feast/core/Project_pb2.pyi
  sdk/python/feast/protos/feast/core/Registry_pb2.pyi
  sdk/python/feast/protos/feast/types/Value_pb2.py
  sdk/python/feast/protos/feast/types/Value_pb2.pyi
  sdk/python/feast/type_map.py
  sdk/python/tests/unit/test_type_map.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Address review feedback for UUID type support
  sdk/python/feast/infra/online_stores/online_store.py
  sdk/python/feast/type_map.py
  sdk/python/feast/value_type.py
  sdk/python/tests/unit/test_type_map.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Address review feedback for UUID type support
  sdk/python/feast/on_demand_feature_view.py
  sdk/python/feast/type_map.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Address review feedback
  sdk/python/feast/types.py
Due: mypy, check-init-py, forbid-pytest-asyncio

Add ok-to-test label check to dbt integration workflow
  .github/workflows/dbt-integration-tests.yml
Due: none

feat: Add integration tests for dbt import (#5899)
  .github/workflows/dbt-integration-tests.yml
  Makefile
  sdk/python/feast/dbt/codegen.py
  sdk/python/feast/dbt/mapper.py
  sdk/python/tests/integration/dbt/__init__.py
  sdk/python/tests/integration/dbt/conftest.py
  sdk/python/tests/integration/dbt/pytest.ini
  sdk/python/tests/integration/dbt/test_dbt_integration.py
  sdk/python/tests/integration/dbt/test_dbt_project/.gitignore
  sdk/python/tests/integration/dbt/test_dbt_project/dbt_project.yml
  sdk/python/tests/integration/dbt/test_dbt_project/models/customer_features.sql
  sdk/python/tests/integration/dbt/test_dbt_project/models/driver_features.sql
  sdk/python/tests/integration/dbt/test_dbt_project/models/product_features.sql
  sdk/python/tests/integration/dbt/test_dbt_project/models/schema.yml
  sdk/python/tests/integration/dbt/test_dbt_project/profiles.yml
  sdk/python/tests/integration/dbt/test_dbt_project/seeds/customer_stats.csv
  sdk/python/tests/integration/dbt/test_dbt_project/seeds/driver_hourly_stats.csv
  sdk/python/tests/integration/dbt/test_dbt_project/seeds/product_stats.csv
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Adds mapping of date Trino's type into string Feast's type
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/trino_type_map.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Skip test_cli_chdir on macOS CI and use uv run pytest for REST API tests
  sdk/python/tests/unit/cli/test_cli_chdir.py
Due: mypy, forbid-pytest-asyncio

fix: Run uv commands from repo root to use correct virtualenv
  .github/workflows/registry-rest-api-tests.yml
  infra/feast-operator/Makefile
Due: none

fix: Handle missing arguments gracefully in mypy-daemon.sh
  scripts/mypy-daemon.sh
Due: none

chore: Revert .gitignore changes
  .gitignore
Due: none

fix: Restore ruff format --check in lint-python target
  Makefile
Due: none

Apply suggestion from @ntkathole
  .github/workflows/linter.yml
Due: none

feat: Modernize precommit hooks and optimize test performance (#5929)
  .github/workflows/linter.yml
  .github/workflows/registry-rest-api-tests.yml
  .github/workflows/smoke_tests.yml
  .github/workflows/unit_tests.yml
  .pre-commit-config.yaml
  Makefile
  infra/feast-operator/Makefile
  scripts/check-init-py.sh
  scripts/mypy-daemon.sh
  scripts/uv-run.sh
  sdk/python/feast/infra/compute_engines/aws_lambda/__init__.py
  sdk/python/feast/infra/compute_engines/dag/__init__.py
  sdk/python/feast/infra/online_stores/singlestore_online_store/__init__.py
  sdk/python/feast/templates/snowflake/__init__.py
  sdk/python/feast/templates/snowflake/bootstrap.py
  sdk/python/feast/templates/snowflake/feature_repo/__init__.py
  sdk/python/pyproject.toml
  sdk/python/pytest.ini
  sdk/python/tests/doctest/test_all.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/feature_repos/universal/online_store/milvus.py
  sdk/python/tests/unit/cli/test_cli.py
  sdk/python/tests/unit/cli/test_cli_chdir.py
  sdk/python/tests/unit/local_feast_tests/test_e2e_local.py
  sdk/python/tests/utils/cli_repo_creator.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: Make timestamp field handling compatible with Athena V3
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/athena.py
Due: mypy, check-init-py, forbid-pytest-asyncio

Updated repo_config test with added parameter for getServiceRepoConfig func
  infra/feast-operator/internal/controller/services/repo_config_test.go
Due: none

feat: batch_engine config injection in feature_store.yaml through operator
  go/internal/feast/onlineserving/serving.go
  go/internal/feast/server/grpc_server.go
  go/internal/feast/server/server_commons.go
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/bundle/manifests/feast-operator.clusterserviceversion.yaml
  infra/feast-operator/bundle/manifests/feast.dev_featurestores.yaml
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/config/manager/kustomization.yaml
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/internal/controller/services/repo_config.go
  infra/feast-operator/internal/controller/services/services_types.go
  infra/feast-operator/internal/controller/services/util.go
Due: build-templates

Removed image tag change from ustomization.yaml
  infra/feast-operator/config/manager/kustomization.yaml
Due: none

feat: Batch_engine config injection in feature_store.yaml through operator (#5938)
  go/internal/feast/onlineserving/serving.go
  go/internal/feast/server/grpc_server.go
  go/internal/feast/server/server_commons.go
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/bundle/manifests/feast-operator.clusterserviceversion.yaml
  infra/feast-operator/bundle/manifests/feast.dev_featurestores.yaml
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/internal/controller/services/repo_config.go
  infra/feast-operator/internal/controller/services/repo_config_test.go
  infra/feast-operator/internal/controller/services/services_types.go
  infra/feast-operator/internal/controller/services/util.go
Due: build-templates
