Repository feast-dev/feast: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-files, lint-files, template

.pre-commit-config.yaml:

default_stages: [commit]

repos:
  - repo: local
    hooks:
      # File-aware format hook - only runs on changed Python files
      - id: format-files
        name: Format Changed Files
        stages: [commit]
        language: system
        types: [python]
        entry: uv run ruff check --fix
        pass_filenames: true

      # File-aware lint hook - only runs on changed Python files
      - id: lint-files
        name: Lint Changed Files
        stages: [commit]
        language: system
        types: [python]
        entry: uv run ruff check
        pass_filenames: true

      # Conditional template hook - only runs when template files change
      - id: template
        name: Build Templates
        stages: [commit]
        language: system
        files: ^infra/templates/|\.jinja2$
        entry: make build-templates
        pass_filenames: false

docs: Condense filter_by_created_timestamp caveats into a hint
  docs/getting-started/concepts/point-in-time-joins.md
Due: none

test: cover ODFV source isolation for an aliased source
  sdk/python/tests/unit/test_on_demand_pandas_transformation.py
Due: format-files, lint-files

fix: Merge shared ODFV source projections in feature resolution
  sdk/python/feast/utils.py
  sdk/python/tests/unit/test_utils.py
Due: format-files, lint-files

fix: use POSIX paths in feast init template bootstraps
  sdk/python/feast/templates/cassandra/bootstrap.py
  sdk/python/feast/templates/hazelcast/bootstrap.py
  sdk/python/feast/templates/hbase/bootstrap.py
  sdk/python/feast/templates/local/bootstrap.py
  sdk/python/feast/templates/milvus/bootstrap.py
  sdk/python/feast/templates/ray/bootstrap.py
Due: format-files, lint-files

docs: add Windows notes to local feast init README
  sdk/python/feast/templates/local/README.md
Due: none

fix: tear down demo FeatureStore in-process on Windows
  sdk/python/feast/templates/aws/feature_repo/test_workflow.py
  sdk/python/feast/templates/cassandra/feature_repo/test_workflow.py
  sdk/python/feast/templates/couchbase/feature_repo/test_workflow.py
  sdk/python/feast/templates/gcp/feature_repo/test_workflow.py
  sdk/python/feast/templates/hazelcast/feature_repo/test_workflow.py
  sdk/python/feast/templates/hbase/feature_repo/test_workflow.py
  sdk/python/feast/templates/local/feature_repo/test_workflow.py
  sdk/python/feast/templates/milvus/feature_repo/test_workflow.py
  sdk/python/feast/templates/postgres/feature_repo/test_workflow.py
  sdk/python/feast/templates/spark/feature_repo/test_workflow.py
Due: format-files, lint-files

feat: Making feast vector store with open ai search api compatible (#6121)
  docs/SUMMARY.md
  docs/getting-started/components/feature-server.md
  docs/getting-started/genai.md
  docs/reference/alpha-vector-database.md
  docs/reference/feature-servers/python-feature-server.md
  docs/reference/online-stores/scylladb.md
  infra/scripts/feature_server_docker_smoke.py
  infra/website/docs/blog/feast-agents-mcp.md
  infra/website/docs/blog/feast-openai-compatible-api.md
  infra/website/public/images/blog/feast-openai-compat-flow.png
  sdk/python/feast/__init__.py
  sdk/python/feast/api/registry/rest/rest_registry_server.py
  sdk/python/feast/embedder.py
  sdk/python/feast/feature_server.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/filter_models.py
  sdk/python/feast/infra/mcp_servers/mcp_server.py
  sdk/python/feast/infra/online_stores/elasticsearch_online_store/elasticsearch.py
  sdk/python/feast/infra/online_stores/helpers.py
  sdk/python/feast/infra/online_stores/milvus_online_store/milvus.py
  sdk/python/feast/infra/online_stores/mongodb_online_store/mongodb.py
  sdk/python/feast/infra/online_stores/online_store.py
  sdk/python/feast/infra/online_stores/postgres_online_store/postgres.py
  sdk/python/feast/infra/online_stores/remote.py
  sdk/python/feast/infra/online_stores/scylladb_online_store/scylladb.py
  sdk/python/feast/infra/online_stores/sqlite.py
  sdk/python/feast/infra/passthrough_provider.py
  sdk/python/feast/infra/provider.py
  sdk/python/feast/repo_config.py
  sdk/python/feast/utils.py
  sdk/python/feast/vector_store_utils.py
  sdk/python/tests/foo_provider.py
  sdk/python/tests/integration/online_store/test_universal_online.py
  sdk/python/tests/unit/api/test_api_rest_registry_server.py
  sdk/python/tests/unit/infra/feature_servers/test_mcp_server.py
  sdk/python/tests/unit/test_filter_models.py
  sdk/python/tests/unit/test_vector_store_utils.py
  sdk/python/tests/universal/feature_repos/universal/online_store/postgres.py
Due: format-files, lint-files

fix: Map Postgres real to FLOAT instead of DOUBLE
  sdk/python/feast/type_map.py
  sdk/python/tests/unit/test_type_map.py
Due: format-files, lint-files

docs: Fix dead Slack invite link
  README.md
  docs/community.md
Due: none

docs: Update Slack link in README template
  infra/templates/README.md.jinja2
Due: template

docs: Fix dead Slack invite link (#6632)
  README.md
  docs/community.md
  infra/templates/README.md.jinja2
Due: template

feat: Add Pinecone online store integration Signed-off-by: Siddhesh Khairnar <khairnarsiddhesh4057@gmail.com>
  docs/SUMMARY.md
  docs/reference/alpha-vector-database.md
  docs/reference/online-stores/README.md
  docs/reference/online-stores/pinecone.md
  pixi.lock
  pyproject.toml
  sdk/python/feast/infra/online_stores/pinecone_online_store/__init__.py
  sdk/python/feast/infra/online_stores/pinecone_online_store/pinecone.py
  sdk/python/feast/infra/online_stores/pinecone_online_store/pinecone_repo_configuration.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/unit/infra/online_store/test_pinecone.py
  sdk/python/tests/universal/feature_repos/universal/online_store/pinecone.py
Due: format-files, lint-files

feat: Added optional namespace/colleciton to datasets
  protos/feast/core/SavedDataset.proto
  protos/feast/registry/RegistryServer.proto
  sdk/python/feast/api/registry/rest/saved_datasets.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/infra/registry/caching_registry.py
  sdk/python/feast/infra/registry/proto_registry_utils.py
  sdk/python/feast/infra/registry/registry.py
  sdk/python/feast/infra/registry/remote.py
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/infra/registry/sql.py
  sdk/python/feast/protos/feast/core/SavedDataset_pb2.py
  sdk/python/feast/protos/feast/core/SavedDataset_pb2.pyi
  sdk/python/feast/protos/feast/registry/RegistryServer_pb2.py
  sdk/python/feast/protos/feast/registry/RegistryServer_pb2.pyi
  sdk/python/feast/registry_server.py
  sdk/python/feast/saved_dataset.py
Due: format-files, lint-files

feat: Updated datasets UI to support grouping
  ui/src/pages/saved-data-sets/CreateDatasetForm.tsx
  ui/src/pages/saved-data-sets/DatasetCatalogBrowser.tsx
  ui/src/pages/saved-data-sets/DatasetOverviewTab.tsx
  ui/src/pages/saved-data-sets/DatasetsCardGrid.tsx
  ui/src/pages/saved-data-sets/DatasetsListingTable.tsx
  ui/src/pages/saved-data-sets/EditDatasetModal.tsx
  ui/src/pages/saved-data-sets/Index.tsx
  ui/src/pages/saved-data-sets/RegisterDatasetModal.tsx
Due: none

fix: Avoid importing feast.feature_store at mcp_server import time
  sdk/python/feast/infra/mcp_servers/mcp_server.py
Due: format-files, lint-files

ci: Fix checkout failure in pull_request_target workflows
  .github/workflows/pr_integration_tests.yml
  .github/workflows/pr_registration_integration_tests.yml
Due: none

feat: Allow users to have protected project on shared registry
  .secrets.baseline
  infra/feast-operator/internal/controller/services/namespace_registry.go
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/services_types.go
  sdk/python/feast/api/registry/rest/rest_registry_server.py
  sdk/python/feast/constants.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/registry_server.py
Due: format-files, lint-files

Auto-discover MLflow UI URL for Feast UI lineage links
  .secrets.baseline
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/bundle/manifests/feast-operator.clusterserviceversion.yaml
  infra/feast-operator/bundle/manifests/feast.dev_featurestores.yaml
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/docs/mlflow-integration.md
  infra/feast-operator/internal/controller/services/mlflow_discover.go
  infra/feast-operator/internal/controller/services/repo_config.go
  infra/feast-operator/internal/controller/services/repo_config_test.go
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/services_types.go
  sdk/python/feast/mlflow_integration/config.py
  sdk/python/feast/ui_server.py
Due: format-files, lint-files

ci: Fix checkout failure in pull_request_target workflows (#6624)
  .github/workflows/pr_integration_tests.yml
  .github/workflows/pr_registration_integration_tests.yml
Due: none

fix: Fixed data source creation form gaps
  sdk/python/feast/api/registry/rest/data_sources.py
  sdk/python/feast/api/registry/rest/saved_datasets.py
  sdk/python/feast/dataset_utils.py
  ui/src/components/DataSourceFormModal.tsx
  ui/src/components/FeatureViewFormModal.tsx
  ui/src/pages/data-sources/DataSourceOverviewTab.tsx
  ui/src/pages/data-sources/Index.tsx
  ui/src/pages/saved-data-sets/CreateDatasetForm.tsx
  ui/src/pages/saved-data-sets/DatasetOverviewTab.tsx
  ui/src/pages/saved-data-sets/DatasetsCardGrid.tsx
  ui/src/pages/saved-data-sets/DatasetsListingTable.tsx
  ui/src/pages/saved-data-sets/EditDatasetModal.tsx
  ui/src/pages/saved-data-sets/RegisterDatasetModal.tsx
  ui/src/queries/mutations/useDataSourceMutations.ts
Due: format-files, lint-files

fix: Return False from __eq__ on cross-type comparison
  sdk/python/feast/aggregation/__init__.py
  sdk/python/feast/base_feature_view.py
  sdk/python/feast/data_source.py
  sdk/python/feast/entity.py
  sdk/python/feast/feature_service.py
  sdk/python/feast/feature_view.py
  sdk/python/feast/infra/offline_stores/bigquery_source.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/athena_source.py
  sdk/python/feast/infra/offline_stores/contrib/couchbase_offline_store/couchbase_source.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/mssqlserver_source.py
  sdk/python/feast/infra/offline_stores/contrib/oracle_offline_store/oracle_source.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres_source.py
  sdk/python/feast/infra/offline_stores/contrib/ray_offline_store/ray_source.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/trino_source.py
  sdk/python/feast/infra/offline_stores/file_source.py
  sdk/python/feast/infra/offline_stores/redshift_source.py
  sdk/python/feast/infra/offline_stores/snowflake_source.py
  sdk/python/feast/labeling/label_view.py
  sdk/python/feast/on_demand_feature_view.py
  sdk/python/feast/permissions/permission.py
  sdk/python/feast/permissions/policy.py
  sdk/python/feast/project.py
  sdk/python/feast/project_metadata.py
  sdk/python/feast/saved_dataset.py
  sdk/python/feast/stream_feature_view.py
  sdk/python/feast/transformation/pandas_transformation.py
  sdk/python/feast/transformation/python_transformation.py
  sdk/python/feast/transformation/ray_transformation.py
  sdk/python/feast/transformation/substrait_transformation.py
  sdk/python/tests/unit/permissions/test_policy.py
  sdk/python/tests/unit/test_data_sources.py
  sdk/python/tests/unit/test_entity.py
  sdk/python/tests/unit/test_label_view.py
Due: format-files, lint-files

feat: Add Feature Service Create in UI
  sdk/python/feast/api/registry/rest/feature_services.py
  sdk/python/feast/feature_service.py
  sdk/python/feast/infra/registry/registry.py
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/infra/registry/sql.py
  sdk/python/tests/unit/api/test_api_rest_registry.py
  sdk/python/tests/unit/test_feature_service.py
  ui/src/components/FeatureServiceFormModal.tsx
  ui/src/pages/data-sources/DataSourceInstance.tsx
  ui/src/pages/data-sources/DataSourceOverviewTab.tsx
  ui/src/pages/entities/EntityInstance.tsx
  ui/src/pages/entities/EntityOverviewTab.tsx
  ui/src/pages/feature-services/FeatureServiceIndexEmptyState.tsx
  ui/src/pages/feature-services/FeatureServiceInstance.tsx
  ui/src/pages/feature-services/FeatureServiceListingTable.tsx
  ui/src/pages/feature-services/FeatureServiceOverviewTab.tsx
  ui/src/pages/feature-services/Index.tsx
  ui/src/pages/feature-views/RegularFeatureViewInstance.tsx
  ui/src/pages/feature-views/RegularFeatureViewOverviewTab.tsx
  ui/src/pages/feature-views/components/FeatureViewProjectionDisplayPanel.tsx
  ui/src/pages/saved-data-sets/DatasetInstance.tsx
  ui/src/queries/mutations/useFeatureServiceMutations.ts
  ui/src/utils/permissionUtils.ts
Due: format-files, lint-files

test: Add parametrized cross-type __eq__ coverage across the object model
  sdk/python/tests/unit/test_eq_cross_type.py
Due: format-files, lint-files

test: Cover OIDC verified-decode sourcing and trim redundant asserts
  sdk/python/tests/unit/permissions/auth/test_token_parser.py
Due: format-files, lint-files

docs: Add Entra ID token example and group-claim caveat
  docs/getting-started/components/authz_manager.md
Due: none

docs: Document Entra ID claim support in OIDC authorization
  docs/getting-started/components/authz_manager.md
Due: none

fix: Harden Entra ID OIDC claim handling from review
  sdk/python/feast/permissions/auth/oidc_token_parser.py
  sdk/python/tests/unit/permissions/auth/test_token_parser.py
Due: format-files, lint-files

test: Extract shared OIDC discovery and signing-key fixtures
  sdk/python/tests/unit/permissions/auth/conftest.py
  sdk/python/tests/unit/permissions/auth/test_token_parser.py
Due: format-files, lint-files

fix: Address review nitpicks on Entra OIDC PR
  docs/getting-started/components/authz_manager.md
  sdk/python/feast/permissions/auth/oidc_token_parser.py
  sdk/python/tests/unit/permissions/auth/conftest.py
Due: format-files, lint-files

fix: Support Entra ID (Azure AD) token claims in OIDC auth
  sdk/python/feast/permissions/auth/oidc_token_parser.py
  sdk/python/tests/unit/permissions/auth/test_token_parser.py
Due: format-files, lint-files

fix: Support Entra ID (Azure AD) token claims in OIDC auth (#6631)
  docs/getting-started/components/authz_manager.md
  sdk/python/feast/permissions/auth/oidc_token_parser.py
  sdk/python/tests/unit/permissions/auth/conftest.py
  sdk/python/tests/unit/permissions/auth/test_token_parser.py
Due: format-files, lint-files

feat: Enhance audit logging with OpenTelemetry support and JSON-RPC correlation
  sdk/python/feast/audit/audit_logger.py
  sdk/python/feast/audit/audit_middleware.py
  sdk/python/tests/unit/audit/test_audit_logger.py
  sdk/python/tests/unit/audit/test_audit_middleware.py
Due: format-files, lint-files

feat: Add structured audit logging for MCP feature server
  sdk/python/feast/audit/__init__.py
  sdk/python/feast/audit/audit_logger.py
  sdk/python/feast/audit/audit_middleware.py
  sdk/python/feast/feature_server.py
  sdk/python/feast/infra/feature_servers/base_config.py
  sdk/python/tests/unit/audit/__init__.py
  sdk/python/tests/unit/audit/test_audit_logger.py
  sdk/python/tests/unit/audit/test_audit_middleware.py
Due: format-files, lint-files

refactor: Audit MCP at protocol layer, fix empty principal, add emit lock
  sdk/python/feast/audit/audit_logger.py
  sdk/python/feast/audit/audit_middleware.py
  sdk/python/feast/feature_server.py
  sdk/python/feast/infra/mcp_servers/mcp_server.py
  sdk/python/tests/unit/audit/test_audit_logger.py
  sdk/python/tests/unit/audit/test_audit_middleware.py
  sdk/python/tests/unit/audit/test_mcp_audit_handler.py
Due: format-files, lint-files

fix(mcp): Propagate request_id for audit logging
  sdk/python/feast/audit/audit_logger.py
  sdk/python/feast/audit/audit_middleware.py
  sdk/python/tests/unit/audit/test_mcp_audit_handler.py
Due: format-files, lint-files
