Repository feast-dev/feast: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, build-templates, check-init-py, forbid-pytest-asyncio

mypy:
  name: mypy
  entry: bash -c "cd sdk/python && python -m mypy feast"
  language: system
  pass_filenames: false

build-templates:
  name: Build Templates
  entry: python infra/scripts/compile-templates.py
  language: system
  pass_filenames: false
  require_serial: true

check-init-py:
  name: Check for missing __init__.py files
  entry: ./scripts/check-init-py.sh
  language: system
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio (use asyncio_mode=auto)
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

fix: Run uv commands from root to use pyproject.toml
  Makefile
Due: none

fix: Use --no-project for mypy to run from sdk/python
  Makefile
Due: none

fix: Simplify precommit config to use make targets
  .pre-commit-config.yaml
Due: none

fix: Use uv run --extra ci for tests to include all deps
  Makefile
Due: none

fix: Fix import sorting in snowflake bootstrap.py
  sdk/python/feast/templates/snowflake/bootstrap.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: use logging instead of print during materialization
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

Update feature_store.py
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: default CLI log level to INFO
  sdk/python/feast/cli/cli.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: import default entity_df event timestamp const
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: avoid click in FeatureStore materialization
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

fix: format feature_store and update materialize docstrings
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

Fix: remove ANSI color codes from materialization logs
  sdk/python/feast/feature_store.py
Due: mypy, check-init-py, forbid-pytest-asyncio

feat: Modernize development workflow with uv integration and CI performance optimizations
  .github/workflows/linter.yml
  Makefile
Due: none

fix: Resolve MyPy type error in MilvusOnlineStoreCreator
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/feature_repos/universal/online_store/milvus.py
Due: mypy, forbid-pytest-asyncio

fix: Ensure feast module is accessible in CI smoke tests
  Makefile
Due: none

fix: Ensure feast module is accessible in CI smoke tests
  sdk/python/tests/utils/cli_repo_creator.py
Due: mypy, forbid-pytest-asyncio

Apply suggestion from @Copilot
  .github/workflows/linter.yml
Due: none

refactor: Simplify Makefile with consistent uv run usage
  Makefile
Due: none

chore: fixed test cases
  infra/feast-operator/internal/controller/featurestore_controller_test.go
  infra/feast-operator/internal/controller/services/services_test.go
  infra/feast-operator/internal/controller/services/util.go
Due: none

test: update operator tests for per-service deployments
  infra/feast-operator/internal/controller/services/services_test.go
  infra/feast-operator/internal/controller/services/tls_test.go
Due: none

refactor: reduce complexity in defaults and deploy
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/util.go
Due: none

feat: add per-service scaling and grpc support
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/config/samples/kustomization.yaml
  infra/feast-operator/config/samples/v1_featurestore_mcp_grpc.yaml
  infra/feast-operator/internal/controller/featurestore_controller.go
  infra/feast-operator/internal/controller/featurestore_controller_test.go
  infra/feast-operator/internal/controller/services/cronjob.go
  infra/feast-operator/internal/controller/services/repo_config.go
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/services_test.go
  infra/feast-operator/internal/controller/services/services_types.go
  infra/feast-operator/internal/controller/services/tls_test.go
  infra/feast-operator/internal/controller/services/util.go
Due: none

chore: Addressed devin ai comments
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/api/v1/zz_generated.deepcopy.go
  infra/feast-operator/config/crd/bases/feast.dev_featurestores.yaml
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/services_test.go
  infra/feast-operator/internal/controller/services/tls.go
Due: build-templates

chore: Update install.yaml
  infra/feast-operator/dist/install.yaml
Due: none

chore: fixed test cases
  infra/feast-operator/internal/controller/featurestore_controller_test.go
  infra/feast-operator/internal/controller/services/services_test.go
Due: none

chore: Update generated manifests and docs
  infra/feast-operator/dist/install.yaml
  infra/feast-operator/docs/api/markdown/ref.md
Due: build-templates

test: Fix reconcile error expectations
  infra/feast-operator/internal/controller/featurestore_controller_test.go
Due: none

feat: Add per-service scaling and gRPC support
  infra/feast-operator/api/v1/featurestore_types.go
  infra/feast-operator/internal/controller/featurestore_controller_db_store_test.go
  infra/feast-operator/internal/controller/featurestore_controller_ephemeral_test.go
  infra/feast-operator/internal/controller/featurestore_controller_kubernetes_auth_test.go
  infra/feast-operator/internal/controller/featurestore_controller_loglevel_test.go
  infra/feast-operator/internal/controller/featurestore_controller_objectstore_test.go
  infra/feast-operator/internal/controller/featurestore_controller_oidc_auth_test.go
  infra/feast-operator/internal/controller/featurestore_controller_pvc_test.go
  infra/feast-operator/internal/controller/featurestore_controller_test.go
  infra/feast-operator/internal/controller/featurestore_controller_tls_test.go
  infra/feast-operator/internal/controller/featurestore_controller_volume_volumemount_test.go
  infra/feast-operator/internal/controller/services/services_test.go
  infra/feast-operator/internal/controller/services/services_types.go
Due: none

fix: avoid default http when grpc only
  infra/feast-operator/internal/controller/services/util.go
Due: none

chore: fixed test cases
  infra/feast-operator/internal/controller/services/services_test.go
Due: none

chore: fixed format issue
  infra/feast-operator/internal/controller/services/services_test.go
Due: none

chore: fixed devin ai comments
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/util.go
Due: none

chore: remove unused variables
  infra/feast-operator/internal/controller/services/services_types.go
Due: none

chore: fixed test cases
  infra/feast-operator/internal/controller/featurestore_controller_pvc_test.go
Due: none

chore: fixed test cases
  infra/feast-operator/internal/controller/featurestore_controller_pvc_test.go
  infra/feast-operator/internal/controller/services/services.go
  infra/feast-operator/internal/controller/services/util.go
Due: none

Apply suggestion from @franciscojavierarceo
  docs/how-to-guides/federated-feature-store.md
Due: build-templates

fix: Use uv sync for CI to enable consistent uv run usage
  Makefile
Due: none

docs: Add multi-team feature store setup guide (#5932)
  docs/SUMMARY.md
  docs/how-to-guides/federated-feature-store.md
Due: build-templates

fix: Use uv run in smoke tests for virtualenv compatibility
  .github/workflows/smoke_tests.yml
Due: none

Path conditions:
  mypy: any of: ^sdk/python/(feast|tests)/.*\.py$, but not: build/|feast/embedded_go/lib/|\.pb2\.py$|protos/
  build-templates: any of: \.(jinja2|md)$, but not: build/|feast/embedded_go/lib/|\.pb2\.py$|protos/
  check-init-py: any of: ^sdk/python/feast/.*$, but not: build/|feast/embedded_go/lib/|\.pb2\.py$|protos/
  forbid-pytest-asyncio: any of: \.py$, but not: build/|feast/embedded_go/lib/|\.pb2\.py$|protos/
